<nav class="navbar navbar-expand-lg navbar-dark bg-blue-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Univi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id = "dropdownReports" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-gauge"></i>
           Rapportage
          </a> 
          <ul class="dropdown-menu" aria-labelledby="dropdownReports">
            <li>
              <a class="dropdown-item" aria-current="page" 
              routerLink="/addReport">Aanmaken</a>
            </li>
            <li>
              <a class="dropdown-item" aria-current="page" 
              routerLink="/editReport">Bewerken</a>
            </li>
            <li>
              <a class="dropdown-item" aria-current="page" 
              routerLink="/overviewReports">Overzicht</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id = "dropdownKeys" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-key"></i> Sleutels
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownKeys">
            <li>
              <a class="dropdown-item" aria-current="page" 
              routerLink="/addKey">Toevoegen</a>
            </li>
            <li>
              <a class="dropdown-item" aria-current="page" 
              routerLink="/editKey">Bewerken</a>
            </li>
            <li>
              <a class="dropdown-item" aria-current="page" 
              routerLink="/overviewKeys">Overzicht</a>
            </li>
            <li>
            </li>
          </ul>
        </li>
        <li class="dropdown">

        
          <a href="#" class="dropdown-toggle" id = "dropdownEmployees" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-person"></i>
            Medewerkers
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownEmployees">
            <li>
              <a class="dropdown-item" aria-current="page" 
              routerLink="/addEmployee">Toevoegen</a>
            </li>
            <li>
              <a class="dropdown-item" aria-current="page" 
              routerLink="/editEmployee">Bewerken</a>
            </li>
            <li>
              <a class="dropdown-item" aria-current="page" 
              routerLink="/overviewEmployees">Overzicht</a>
            </li>
            <li>
            </li>
          </ul>

        </li>

    
       
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
